<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Products List</h1>
	<table>
	    <thead>
	        <tr>
	            <th>Product Name</th>
	            <th>Product Description</th>
	            <th>Product price</th>
	        </tr>
	    </thead>
	    <tbody>
			<tr th:if="${products.empty}">
	            <td colspan="3"> No products </td>
	        </tr>
	        <tr th:if="${products == null}">
	            <td colspan="3"> No products </td>
	        </tr>
	        <tr th:each="product : ${products}">	        	
	            <td th:text="${product.name}"></td>
	            <td th:text="${product.description}"></td>
	            <td th:text="${product.price}"></td>
	        </tr>
	    </tbody>
	</table>
	
	<p/><p/>
	<a th:href="@{/productPage}">See 'Add Product Page'</a>
	<p/><p/>
	<a th:href="@{/}">Go to index Page</a>

</body>
</html>